<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item padding>
      <ion-label floating>email</ion-label>
      <ion-input formControlName="email" type="email" [class.invalid]="!loginForm.controls.email.valid"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid" no-lines>
      <p>Write email</p>
    </ion-item>

    <ion-item padding>
      <ion-label floating>password</ion-label>
      <ion-input formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid" no-lines>
      <p>Write password</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!loginForm.valid">Login</button>

  </form>

  <button ion-button block clear (click)="gotoSignup()">Register</button>

</ion-content>