<ion-header>
  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--                              signupForm.controls.email.dirty       nie dziala                                         -->

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item padding>
      <ion-label floating>Name</ion-label>
      <ion-input formControlName="name" type="text" [class.invalid]="!signupForm.controls.name.valid && signupForm.controls.name.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.name.valid && signupForm.controls.name.dirty" no-lines>
      <p>Write name</p>
    </ion-item>

    <ion-item padding>
      <ion-label floating>email</ion-label>
      <ion-input formControlName="email" type="email" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty" no-lines>
      <p>Write email</p>
    </ion-item>

    <ion-item padding>
      <ion-label floating>password</ion-label>
      <ion-input formControlName="password" type="password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty" no-lines>
      <p>Write password</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!signupForm.valid">Register</button>

  </form>

</ion-content>
