<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>My parts list</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="editMode = !editMode">
        <ion-icon name="reorder"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list *ngFor="let list of partLists | async" padding-top>
    <ion-list-header>

      <button ion-button item-left clear color="danger" icon-only (click)="removeList(list.$key)" *ngIf="editMode">
        <ion-icon name="remove-circle"></ion-icon>
        </button> {{ list.name }}

      <button ion-button item-right clear icon-only (click)="shareList(list.$key, list.name)">
          <ion-icon name="share"></ion-icon>
      </button>

      <button ion-button item-right clear icon-only (click)="addItemToList(list.$key, list.name)">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-list-header>

    <ion-item-sliding *ngFor="let partItem of list.partItems | async">
      <ion-item>
        {{ partItem.name }}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" icon-only (click)="removeItem(partItem.$key, list.$key)">
          <ion-icon name="trash"></ion-icon>  
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom padding>
    <button ion-fab (click)="newList()">
    <ion-icon name="add"></ion-icon>
  </button>
  </ion-fab>

</ion-content>
