<ion-header>
  <ion-navbar color="primary">
    <ion-title>My Shared List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let list of sharedLists | async" padding-top>
    <ion-list-header>
      {{ list.name }}
      <button ion-button item-right clear icon-only (click)="addItemToList(list.$key, list.name)">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-list-header>
    <ion-item color="light">
      Shared by: {{ list.creator }}
    </ion-item>

    <ion-item *ngFor="let partItem of list.partItems | async">
      {{ partItem.name }}
    </ion-item>

  </ion-list>

</ion-content>
